@model ATTime.Models.Student

@{
    ViewBag.Title = "CreateStudent";
}

<a href="/SearchStudent"> <button> Søg </button></a>

@foreach (var student in ViewBag.student)
{
    <h2>Navn: @student.FirstName @student.LastName </h2>

    <h3> Username:  @student.Username </h3>
    <p> Password: @student.Psw</p>
    <hr />
}

<hr />
<h1> Create Student </h1>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="">

    
    <hr />
    @Html.ValidationSummary(true)

    <div class"">
        @Html.LabelFor(model => model.FirstName, new { @class = "" })
        <div class="">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>
    </div>

    <div class"">
        @Html.LabelFor(model => model.LastName, new { @class = "" })
        <div class="">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>
    </div>

    <div class"">
        @Html.LabelFor(model => model.Username, new { @class = "" })
        <div class="">
            @Html.EditorFor(model => model.Username)
            @Html.ValidationMessageFor(model => model.Username)
        </div>
    </div>

    <div class"">
        @Html.LabelFor(model => model.Psw, new { @class = "" })
        <div class="">
            @Html.EditorFor(model => model.Psw)
            @Html.ValidationMessageFor(model => model.Psw)
        </div>
    </div>

    <div class="form-group">
        <div class="">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
    



</div>
}

