@model ATTime.Models.Student
@{
    ViewBag.Title = "CreateStudent";
}

<a href="/SearchStudent"> <button> Søg </button></a>

@ViewBag.teamid 

@foreach (ATTime.Models.Student student in ViewBag.student)
{
    @Html.Partial("_Students", student)
}

<h1> Create Student </h1>


@using (Html.BeginForm("CreateStudent", "Student", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="">

        <hr />
        @Html.ValidationSummary(true)

        <div class"">
            @Html.LabelFor(model => model.FirstName, new { @class = "" })
            <div class="">
                <input name="firstname" type="text" />
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>

        <div class"">
            @Html.LabelFor(model => model.LastName, new { @class = "" })
            <div class="">
                <input name="lastname" type="text" />
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>

        <div class"">
            @Html.LabelFor(model => model.Username, new { @class = "" })
            <div class="">
                <input name="username" type="text" />
                @Html.ValidationMessageFor(model => model.Username)
            </div>
        </div>

        <div class"">
            @Html.LabelFor(model => model.Psw, new { @class = "" })
            <div class="">
                <input name="psw" type="text" />
                @Html.ValidationMessageFor(model => model.Psw)
            </div>
        </div>

        <div class="form-group">
            <div class="">
                <button type="submit" class="btn btn-default m-1 p-1 btn-success">Create</button>
            </div>
        </div>




    </div>
}

