@using ATTime.Models.LoginViewModels;
@{
    ViewBag.Title = "Index";
}


<h2>
    @LoginCheckViewModel.Firstname(((int)ViewData["id"]), ((string)ViewData["Role"]))
    @LoginCheckViewModel.Lastname(((int)ViewData["id"]), ((string)ViewData["Role"]))

</h2>
<h5>@ViewData["Role"]</h5>
<h2>Check in</h2>
@if (ViewBag.Student_courses.Contains(((int)ViewData["CID"])))
{
    @if (((int)ViewData["CID"]) == 1)
    {
        <h3>You have study day today.</h3>
    }
    else
    {
        <h3>Todays course is @ViewData["TC"]</h3>

        @using (Html.BeginForm("attend", "StudentView", FormMethod.Post))
        {
            <input type="text" name="code_for_torday" />
            <button type="submit" class="btn btn-default m-1 p-1 btn-success">Check in</button>
        }
    }
}
else if (((int)ViewData["CID"]) == 1)
{
    <h3>You have study day today.</h3>
}
else
{
    <h3>You are currently not on a Team</h3>
}
<h3>To</h3>
@ViewData["id"]
