@model ATTime.Models.Student
@using ATTime.Models

@{
    ViewBag.Title = "Student";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
@Styles.Render("~/wwwroot/css/AdminStudentView.css")




@Html.Partial("_AdminNav")


<br />

<h1>@ViewBag.TeamName</h1>
<br />

<button type="button" class="btn btn-info btn-lg modalBtn" data-toggle="modal" data-target="#myModal">Add student to team</button>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create new student</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("CreateStudent", "Register", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id = "studentForm", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(false)

                    <div class="">
                        <div class"">
                            @Html.Label("First name", new { @class = "" })
                            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.FirstName)
                        </div>
                        <br />

                        <div class"">
                            @Html.Label("Last name", new { @class = "" })
                            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LastName)

                        </div>
                        <br />

                        <div class"">
                            @Html.Label("Password", new { @class = "" })
                            @Html.TextBoxFor(model => model.Psw, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Psw)

                        </div>
                        <br />

                        <div class="form-group">
                            <div class="">
                                <button type="submit" id="submitForm" class="btn btn-default m-1 p-1 btn-success modalBtn">Create</button>
                                <button class="btn btn-default m-1 p-1 btn-success modalBtn">Get from efif</button>

                            </div>
                        </div>
                    </div>
                }

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<br />
<br />

<!-- SEARCH FOR STUDENT -->
<div class="container" style="text-align:center;">
    <div class="form-group">
        
    </div>
</div>


<!-- STUDENT TABLE START -->
<div class="container">
    
    <div class="input-group">
        <h2>Students</h2> <p></p>
        <span class="input-group-addon glyphicon glyphicon-search"></span>
        <input type="text" id="SearchStudent" placeholder="Search" class="form-control" />
    </div>

    <table class="table table-hover">
        <thead class="tableHead">
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Course</th>
                <th>Add Course </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (TeamStudent student in ViewBag.tester)
            {
                @Html.Partial("_Students", student)
            }

        </tbody>

        <tbody></tbody>
    </table>
</div>
<!-- STUDENT TABLE SLUT-->

<br />
<br />
<!-- SEARCH FOR TEACHER -->


<!-- TEACHER TABLE START -->
<div class="container">    
    <div class="input-group">
        <h2>Teachers</h2>
        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
        <input type="text" id="SearchTeacher" placeholder="Search" class="form-control" />
    </div>
    <table class="table table-hover">
        <thead class="tableHead">
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Teaches</th>
            </tr>
        </thead>
        <tbody>
            @foreach (TeamOperator teach in ViewBag.tester2)
            {
                @Html.Partial("_Teachers", teach)
            }
        </tbody>

        <tbody></tbody>

    </table>

    <!-- TEACHER TABLE SLUT -->
    <!-- ADD TEACHER START-->

    @using (Html.BeginForm("UpdateTeacher", "Register", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <select class="form-control selectList" name="operatorid">
            <option value="" selected disabled hidden>--Select Teacher--</option>
            @foreach (Operator teach in ViewBag.oprtr)
            {
                <option value="@teach.OperatorId" name="operatorid" id="operatorid">
                    @teach.FirstName @teach.LastName
                </option>
            } selectList"
            sdsa
        </select>
        <div class="form-group">
            <div class="">
                <button type="submit" id="submitForm" class="btn btn-default m-1 p-1 btn-success modalBtn haps" asp-action>
                    Add teacher
                </button>
            </div>
        </div>
    }
</div>
<br />
<br />
<br />


<h1>@ViewBag.SuccessMessage2</h1>


@Html.Partial("_CheckUsername")