@model ATTime.Models.Student

@{
    ViewBag.Title = "Student";
}

@Html.ActionLink("Admin View", "Index", "AdminView")

@Html.Partial("_AdminNav")


<div class="container">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input type="text" id="Search" placeholder="Search" class="form-control" />
        </div>
    </div>
</div>
<br />


<h2>Create new student</h2>
<h1>
    @ViewBag.testTeamId
    @ViewBag.teamid
    @ViewData["TEAMID"]
</h1>
<h3> @ViewBag.tester</h3>

@using (Html.BeginForm("CreateStudent", "Register", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)

    <div class="">

        <hr />
        <br />

        <div class"">
            @Html.LabelFor(model => model.FirstName, new { @class = "" })
            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FirstName)

        </div>
        <br />

        <div class"">
            @Html.LabelFor(model => model.LastName, new { @class = "" })
            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.LastName)

        </div>
        <br />

        <div class"">
            @Html.LabelFor(model => model.Username, new { @class = "" })
            @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @onkeydown = "UserCheck()" })
            @Html.ValidationMessageFor(model => model.Username)
            <p id="Status"></p>
        </div>


        <div class"">
            @Html.LabelFor(model => model.Psw, new { @class = "" })
            @Html.TextBoxFor(model => model.Psw, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Psw)

        </div>
        <br />

        <div class="form-group">
            <div class="">
                <button type="submit" id="submitForm" class="btn btn-default m-1 p-1 btn-success" asp-action>Create</button>
            </div>
        </div>
    </div>
}

<br />

<div class="container" style="text-align:center;">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input style="margin:0 auto;" type="text" id="Search" placeholder="Search" class="form-control" />
        </div>
    </div>
</div>

<div class="container">
    <h2>Students</h2>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>TEST</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ATTime.Models.Student student in ViewBag.studentListe)
            {
                @Html.Partial("_Students", student)
            }
        </tbody>
    </table>
</div>

<h1>@ViewBag.SuccessMessage2</h1>


@Html.Partial("_CheckUsername")
