@model ATTime.Models.Student
@using ATTime.Models

@{
    ViewBag.Title = "Student";
}

@Html.ActionLink("Admin View", "Index", "AdminView")

@Html.Partial("_AdminNav")

<br />


<h1>
    TeamID: @ViewBag.testTeamId
    @ViewData["TEAMID"]
    @ViewBag.komnu

    @ViewBag.zeze
</h1>
<br />
<h2>Create new student</h2>
@using (Html.BeginForm("CreateStudent", "Register", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)

    <div class="">      
       

        <div class"">
            @Html.LabelFor(model => model.FirstName, new { @class = "" })
            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FirstName)

        </div>
        <br />

        <div class"">
            @Html.LabelFor(model => model.LastName, new { @class = "" })
            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.LastName)

        </div>
        <br />



        <div class"">
            @Html.LabelFor(model => model.Psw, new { @class = "" })
            @Html.TextBoxFor(model => model.Psw, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Psw)

        </div>
        <br />

        <div class="form-group">
            <div class="">
                <button type="submit" id="submitForm" class="btn btn-default m-1 p-1 btn-success" asp-action>Create</button>
                <button class="btn btn-default m-1 p-1 btn-success">Get from efif</button>

            </div>
        </div>

    </div>
}



<br />
<br />
<div class="container" style="text-align:center;">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input style="margin:0 auto;" type="text" id="SearchStudent" placeholder="Search" class="form-control" />
        </div>
    </div>
</div>

<div class="container">
    <h2>Students</h2>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Course</th>
            </tr>
        </thead>
        <tbody>
            @foreach (TeamStudent student in ViewBag.tester)
            {
                @Html.Partial("_Students", student)
            }


        </tbody>

        <tbody></tbody>
    </table>
</div>

<br />
<br />

<div class="container" style="text-align:center;">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input style="margin:0 auto;" type="text" id="SearchTeacher" placeholder="Search" class="form-control" />
        </div>
    </div>
</div>

<div class="container">
    <h2>Teachers</h2>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Username</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ATTime.Models.Operator oprtr in ViewBag.oprtr)
            {
                @Html.Partial("_Teachers", oprtr)
            }


        </tbody>

        <tbody></tbody>
    </table>
</div>
<br />
<br />

@foreach (CourseStudent course in ViewBag.CourseNAME)
{
    @Html.Partial("_CourseName", course)
}


<h1>@ViewBag.SuccessMessage2</h1>


@Html.Partial("_CheckUsername")
