@model ATTime.Models.Operator
@using ATTime.Models

@{
    ViewBag.Title = "Teacher";
}
@Styles.Render("~/wwwroot/css/AdminStudentView.css")
@Html.ActionLink("Admin View", "Index", "AdminView")

@Html.Partial("_AdminNav")

<h2>Create new teacher</h2>

@using (Html.BeginForm("CreateTeacher", "Register", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)

    <div class="">

        <hr />
        <br />

        <div class"">
            @Html.Label("First name", new { @class = "" })
            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FirstName)

        </div>
        <br />

        <div class"">
            @Html.Label("Last name", new { @class = "" })
            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.LastName)

        </div>
        <br />

        <div class"">
            @Html.Label("Password", new { @class = "" })
            @Html.TextBoxFor(model => model.Psw, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Psw)

        </div>
        <br />

        <div class"">
            @Html.Label("Phone", new { @class = "" })
            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Phone)

        </div>
        <br />
        <select name="Courseid" class="form-control selectList">

            @foreach (Course c in ViewBag.CourseNAME)
            {
                <option value="@c.CourseId" name="Course" id="CourseId">
                    @c.CourseName
                </option>
            }

        </select>

        <br />
        <br />
        <div class="form-group">
            <div class="">
                <button type="submit" id="submitForm" class="btn btn-default m-1 p-1 btn-success" asp-action>Create teacher</button>
            </div>
        </div>
    </div>
}

<br />

<div class="container" style="text-align:center;">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input style="margin:0 auto;" type="text" id="Search" placeholder="Search" class="form-control" />
        </div>
    </div>
</div>

<div class="container">
    <h2>Teachers</h2>

    <table class="table table-hover">
        <thead class="tableHead">
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Teaches</th>
            </tr>
        </thead>
        <tbody>
            @foreach (TeamOperator teach in ViewBag.tester2)
            {
                @Html.Partial("_Teachers", teach)
            }
        </tbody>
    </table>
</div>

<h1>@ViewBag.SuccessMessage2</h1>


@Html.Partial("_CheckUsername")
