@model ATTime.Models.Team

@{
    ViewBag.Title = "Teacher";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
@Styles.Render("~/wwwroot/css/AdminStudentView.css")


<div class="CreateDiv">

    @using (Html.BeginForm("CreateTeam", "Register", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false)

        <div class="display-5">
            <h2> Create Team </h2>
            <div class"">               
                @Html.TextBoxFor(model => model.TeamName, new { placeholder ="Team name", @class = "form-control", @onkeyup = "UserCheck()" })
                @Html.ValidationMessageFor(model => model.TeamName)
                <p id="Status"></p>
            </div>
            <br />
        </div>
        <div class="form-group">
            <button type="submit" id="submitForm" class="btn btn-default m-1 p-1 btn-default modalBtn" asp-action>Create</button>
        </div>
    }
</div>
<div class="CreateDiv">
    @Html.Partial("CreateCourse")
</div>

<script>
    function UserCheck() {
        $("#Status").html("Checking...");
        $.post("@Url.Action("CheckTeamNameAvailability", "Register")",
            {
                userdata: $("#TeamName").val()
            },
        function (data) {
            if (data == 0) {
                $("#Status").html('<font color="Green">Teamname is available.</font>');
                $("#TeamName").css("border-color", "Green");
                $("#submitForm").prop("disabled", false);
            }
            else {
                $("#Status").html('<font color="Red">Team already exists.</font>');
                $("#TeamName").css("border-color", "Red");
                $("#submitForm").prop("disabled", true);
            }
        });
    }

    function UserCheck2() {
        $("#Status1").html("Checking...");
        $.post("@Url.Action("CheckCourseNameAvailability", "Register")",
            {
                userdata2: $("#CourseName").val()
            },
        function (data1) {
            if (data1 == 0) {
                $("#Status1").html('<font color="Green">Course name is available.</font>');
                $("#CourseName").css("border-color", "Green");
                $("#submitForm1").prop("disabled", false);
            }
            else {
                $("#Status1").html('<font color="Red">Course already exists.</font>');
                $("#CourseName").css("border-color", "Red");
                $("#submitForm1").prop("disabled", true);
            }
        });
    }


</script>
