@model ATTime.Models.CourseCalender
@using ATTime.Models.ViewModel
@using ATTime.Models

<style>

</style>

<div class="col-2 float-left" style="curser:pointer;">
    <div class="row b_blue">
        <h5>@Model.Calender.CalenderName</h5>
    </div>
    <div id="@Model.CalenderId" class="row @Model.CalenderId">
        @if (Model.CourseId == 1)
        {
            <p>Add course:</p>
            using (Html.BeginForm("AddCourse", "TeacherView", FormMethod.Post))
            {
                <input type="hidden" value="@ViewData["team"]" name="teamid" />
                <input type="hidden" name="calendercourseid" value="@Model.CourseCalenderId" />
                <select name="Courseid" class="SelectList p-1 text-dark">
                    @foreach (CourseOperator c in ViewBag.CO)
                    {
                        <option value="@c.CourseId">@c.Course.CourseName</option>
                    }
                </select>
                <button type="submit" class="btn btn-default m-1 p-1 modalBtn">Add</button>
            }

        }
        else
        {
            <h6>@Model.Course.CourseName</h6>
            <button id="@Model.CourseCalenderId">See attendance</button>
            <script>
            $("#@Model.CourseCalenderId").click(function () {
                var TeamID = @Model.TeamId;
                var date = @Model.CalenderId;
                var courseid = @Model.CourseId;
                $.ajax({
                    type: "POST",
                    url: "@Url.Content("~/TeacherView/attend")",
                    data: { TeamID: TeamID, date: date, courseid: courseid },
                success: function (response) {
                    $("#data").html(response);
                    $("#data").addClass("show");
                }
                });
            });
            </script>
        }
    </div>
</div>
<script>
    if (@Model.CalenderId == @ViewBag.today) {
        $("#@Model.CalenderId").addClass("d_blue");
    }
</script>


