@model ATTime.Models.CourseCalender
@using ATTime.Models.ViewModel
@using ATTime.Models


<div class="col-2 float-left" style="curser:pointer;">
    <div>
        <h5>@Model.Calender.CalenderName</h5>
    </div>
    <div>
        @if (Model.CourseId == 1)
        {
            <p>No courses for this day, add yours:</p>
            using (Html.BeginForm("AddCourse", "TeacherView", FormMethod.Post))
            {
                <input type="hidden" value="@ViewData["team"]" name="teamid" />
                <input type="hidden" name="calendercourseid" value="@Model.CourseCalenderId" />
                <select type="submit" name="Courseid">
                    @foreach (CourseOperator c in ViewBag.CO)
                    {
                        <option value="@c.CourseId">@c.Course.CourseName</option>
                    }
                </select>
                <button type="submit" class="btn btn-default m-1 p-1 btn-success">Add</button>
            }

        }
        else
        {
            <h6>@Model.Course.CourseName</h6>
            <button id="@Model.CourseCalenderId">See attendance</button>
            <script>
                $("#@Model.CourseCalenderId").click(function () {
                    var TeamID = @Model.TeamId;
                    var date = @Model.CalenderId;
                    $.ajax({
                        type: "POST",
                        url: "@Url.Content("~/TeacherView/attend")",
                        data: {TeamID: TeamID, date: date},
                    success: function (response) {
                        $("#data").html(response);
                        $("#data").addClass("show");
                    }
                    });
                });
            </script>
        }
    </div>
</div>


