@using ATTime.Models.LoginViewModels

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/wwwroot/css/style.css")
    <link href="https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/css/rawline.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body style="margin:0; padding:0;">
        <div class="position-relative">
            <img style="text-align:right; position:absolute; top:10px; right:15px;"
                 src="~/wwwroot/images/@ViewData["Logo"]" />
        </div>

        <div class="row">
            <div id="sidebar-wrapper" class="navigation-left col-4">
                <ul class="sidebar-nav navigation-list col-12">

                    <li> <img class="img-fluid rounded-circle" src="~/wwwroot/images/admin.png" /> </li>
                    <br />

                    <li>
                     <h2 class="name">@Html.Partial("_AdminNav") </h2>                      
                    </li>

                    <li class="nav-link">
                        @Html.ActionLink("Teams", "Index", "AdminView")
                    </li>
                    <li class="nav-link">
                        @Html.ActionLink("Create Teacher", "Teacher", "Register")
                    </li>
                   
                    <li class="nav-link">
                        @Html.ActionLink("Create Team or Course", "Team", "Register")
                    </li>
                    <li class="nav-link">
                        @Html.ActionLink("Log out", "logout", "Login")
                    </li>
                </ul>
            </div>

            <div class="container body-content col-8">
                @RenderBody()
            </div>
        </div>

        <nav>
            @Html.ActionLink("Log out", "logout", "Login")
        </nav>
    

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
