@model ATTime.Models.TeamStudent
@using ATTime.Models

@{
    ViewBag.Title = "_Students";
}
<tr class="SearchStudent">
    <td>@Model.Student.FirstName</td>
    <td>@Model.Student.LastName</td>
    <td>@Model.Student.Username</td>
    <td>
        @functions{
            public List<CourseStudent> GetStudentCourse()
            {
                ATTime_DBContext db = new ATTime_DBContext();
                var testtest = db.CourseStudents
                    .Where(s => s.StudentId == Model.StudentId)
                    .ToList();
                return testtest;
            }
        }
        @if (GetStudentCourse().Count() > 0)
        {
            foreach (var c in GetStudentCourse())
            {
            <p>@Ccourse.course(c.CourseId)</p>
            }
         }

    </td>

    <td>
        @using (Html.BeginForm("Delete", "Student", FormMethod.Post))
        {
            <input type="hidden" name="studentid" value="@Model.StudentId" />
            <button type="submit" class="btn btn-default m-1 p-1 btn-danger">Delete</button>
        }
    </td>
</tr>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#SearchStudent").keyup(function () {
            var searchText = $("#SearchStudent").val().toLowerCase();
            $(".SearchStudent").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });

        $("#SearchTeacher").keyup(function () {
            var searchText = $("#SearchTeacher").val().toLowerCase();
            $(".SearchTeacher").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).fadeOut();
                }
                else {
                    $(this).show();
                }
            });
        });
    });
</script>