@model ATTime.Models.TeamStudent
@using ATTime.Models

@{
    ViewBag.Title = "_Students";
}

@Styles.Render("~/wwwroot/css/AdminTeamView.css")
@Styles.Render("~/wwwroot/css/AdminStudentView.css")
<tr class="SearchStudent">
    <td>@Model.Student.FirstName @Model.Student.LastName</td>    
    <td>@Model.Student.Username</td>
    <td>

        @functions{
            public List<CourseStudent> GetStudentCourse()
            {
                ATTime_DBContext db = new ATTime_DBContext();
                var testtest = db.CourseStudents
                    .Where(s => s.StudentId == Model.StudentId)
                    .ToList();
                return testtest;
            }
        }
        @if (GetStudentCourse().Count() > 0)
        {
            foreach (var c in GetStudentCourse())
            {
        <li style="display:inline;"> @Ccourse.course(c.CourseId) |</li>
            }
        }
        
    </td>
    <td id="addCourseTD">

        @functions {
            ATTime_DBContext db = new ATTime_DBContext();
            public ActionResult UpdateStudent()
            {
                var courses = db.Courses.ToList();
                ViewBag.CourseNAME = courses;
                return ViewBag.CourseNAME;

            }
        }

        @using (Html.BeginForm("AddCourseStudent", "Register", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id = "addCourse", role = "form" }))
        {
            <input type="hidden" value="@Model.Student.StudentId" id="studentid" name="studentid" />
            <select class="form-control selectList" name="Courseid">
                <option value="" selected disabled hidden id="defaultOption">Select Course</option>

                @foreach (Course c in ViewBag.CourseNAME)
                {
                    <option value="@c.CourseId" name="Course" id="CourseId">
                        @c.CourseName
                    </option>
                }
            </select>
            <button type="submit" id="submitForm" class="btn btn-default m-1 p-1 btn-success modalBtn haps" asp-action>
                Add
            </button>
        }

    </td>

    <td>
        @using (Html.BeginForm("DeleteStudent", "Register", FormMethod.Post))
        {
            <input type="hidden" name="studentid" value="@Model.StudentId" />
            <button type="submit" class="btn btn-default m-1 p-1 btn-danger">Delete</button>
        }
    </td>
</tr>



<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
       
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#SearchStudent").keyup(function () {
            var searchText = $("#SearchStudent").val().toLowerCase();
            $(".SearchStudent").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).fadeOut();
                }
                else {
                    $(this).fadeIn();
                }
            });
        });

        $("#SearchTeacher").keyup(function () {
            var searchText = $("#SearchTeacher").val().toLowerCase();
            $(".SearchTeacher").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).fadeOut();
                }
                else {
                    $(this).fadeIn();
                }
            });
        });
    });
</script>