@model ATTime.Models.Student
@{
    ViewBag.Title = "_Students";
}

<h2>Navn: @Model.FirstName @Model.LastName </h2>

<h3> Username:  @Model.Username </h3>
<p> Password: @Model.Psw</p>
@using (Html.BeginForm("Delete", "Student", FormMethod.Post))
{
    <input type="hidden" name="studentid" value="@Model.StudentId" />
    <button type="submit" class="btn btn-default m-1 p-1 btn-warning">Delete</button>
}
<hr />

