@model ATTime.Models.Team
@{
    ViewBag.Title = "_Teams";
}

<h1>@ViewBag.testTeamId</h1>

@Styles.Render("~/wwwroot/css/AdminTeamView.css")

<div class="Team">
    @using (Html.BeginForm("SelectTeam", "Register", FormMethod.Post))
    {
        <input type="hidden" name="teamid" value="@Model.TeamId" />
        <button type="submit" class="TeamBtn">
            <h2>  <span>@Model.TeamName</span></h2>
            <p>Students: @ATTime.Models.ViewModel.Studencount.student_count(@Model.TeamId) </p>
            <p>Teachers: @ATTime.Models.ViewModel.TeacherCount.teacher_count(@Model.TeamId) </p>
        </button>
    }

    @using (Html.BeginForm("student", "TeacherView", FormMethod.Post))
    {
        <input type="hidden" name="teamid" value="@Model.TeamId" />
    }
</div>




