@model ATTime.Models.Course

@{
    ViewBag.Title = "_Course";
}

@Html.Partial("_AdminNav")



@using (Html.BeginForm("CreateCourse", "Register", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)

    <div class="">
        <div class"">
            <h2> Create Course</h2>            
            @Html.TextBoxFor(model => model.CourseName, new { placeholder = "Course name", @class = "form-control", @onkeyup = "UserCheck2()" })
            @Html.ValidationMessageFor(model => model.CourseName)
            <p id="Status1"></p>
        </div>
        <br />
    </div>
    <div class="form-group">
        <div class="">
            <button type="submit" id="submitForm1" class="btn btn-default m-1 p-1 btn-default modalBtn" asp-action>Create</button>
        </div>
    </div>
}

    <script>
    
    </script>