@using ATTime.Models.LoginViewModels;
@{
    ViewBag.Title = "Index";
}
<h2>
    @LoginCheckViewModel.Firstname(((int)ViewData["id"]), ((string)ViewData["Role"]))
    @LoginCheckViewModel.Lastname(((int)ViewData["id"]), ((string)ViewData["Role"]))
</h2>
<h5>@ViewData["Role"]</h5>


@using (Html.BeginForm("AddCalender", "AdminView", FormMethod.Post))
 {
    <label>Start date</label>
    <input type="text" value="@ViewBag.start" style="width: 100px;" readonly="readonly" name="start_date" id="Date" class="hasDatepicker" />
    <label>End date</label>
    <input type="text" value="@ViewBag.end" style="width: 100px;" readonly="readonly" name="end_date" id="Date" class="hasDatepicker" />
    <button type="submit" class="btn btn-default m-1 p-1 btn-success">Add calender</button>
 }
    @Html.ActionLink("AddCalender", "AddCalender")
    <script src="../../Scripts/jquery-1.3.2.min.js" language="javascript" type="text/javascript" />
    <script src="../../Scripts/jquery-ui-1.7.1.custom.min.js" type="text/javascript" />