@using ATTime.Models.LoginViewModels;
@model ATTime.Models.Team
@{
    ViewBag.Title = "Index";
}
<h2>
    @LoginCheckViewModel.Firstname(((int)ViewData["id"]), ((string)ViewData["Role"]))
    @LoginCheckViewModel.Lastname(((int)ViewData["id"]), ((string)ViewData["Role"]))
</h2>
<h5>@ViewData["Role"]</h5>
@ViewData["id"]
@ViewData["Role"]
@ViewData["Schoolname"]
@ViewData["Logo"]
@ViewData["schoolid"]

@Html.ActionLink("Calender", "Calender")
@Html.ActionLink("Add", "Add")
|
@Html.ActionLink("Student", "Student", "Register")
@Html.ActionLink("Teacher", "Teacher", "Register")
@Html.ActionLink("Team", "Team", "Register")

<tbody>
    @foreach (ATTime.Models.Team team in ViewBag.team)
    {
        @Html.Partial("_Teams", team)
    }
</tbody>