@using ATTime.Models.LoginViewModels;
@using ATTime.Models;
@{
    Layout = "~/Views/Shared/_Layout_Teacher_two.cshtml";
}
<div id="data" class="data"></div>
<div class="row att_row">
    <h2 class="float-left col-3 mb-0 text-lg-left p-0 mt-1">@ViewBag.teamname</h2>
    <div class="float-lg-right">
        <p>@ViewBag.msg</p>
        @using (Html.BeginForm("between", "TeacherView", FormMethod.Post))
        {
            <input type="hidden" value="@ViewData["team"]" name="teamid" />
            <label>Start date</label>
            <input type="date" name="start" id="Date_start" class="hasDatepicker" value="2018-11-01" />
            <label>End date</label>
            <input type="date" name="end" id="Date_end" class="hasDatepicker" value="2019-01-29" />
            <button type="submit" class="modalBtn text-light m-1 p-1 ">Between these dates</button>
        }
    </div>
</div>
<div class="row_d">
    @foreach (Days d in ViewBag.dage)
    {
        <div class="col_7 row text-capitalize card-header bg-transparent text-bold pb-0" style="curser:pointer;">
            <p class="text-center w-100">@d.dag</p>
        </div>

    }
    @foreach (CourseCalender course in ViewBag.TO)
    {
        @Html.Partial("_calender_teacher", course)
    }
</div>

