@using ATTime.Models.LoginViewModels;
@using ATTime.Models;
@{
                /**/
}
<h2>
    @LoginCheckViewModel.Firstname(((int)ViewData["id"]), ((string)ViewData["Role"]))
    @LoginCheckViewModel.Lastname(((int)ViewData["id"]), ((string)ViewData["Role"]))
</h2>
<h5>@ViewData["Role"]</h5>

<div class="Student"></div>
@using (Html.BeginForm("between", "TeacherView", FormMethod.Post))
{
    <input type="hidden" value="@ViewData["team"]" name="teamid" />
    <label>Start date</label>
    <input type="date" name="start" id="Date_start" class="hasDatepicker" />
    <label>End date</label>
    <input type="date" name="end" id="Date_end" class="hasDatepicker" />
    <button type="submit" class="btn btn-default m-1 p-1 btn-success">Add calender</button>
}

@foreach (CourseCalender course in ViewBag.TO)
{
    @Html.Partial("_calender_teacher", course)
}

